<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="nav-left">
            <div class="logo">
                <a href="/">
                    <img style="width: 100px; height: 50px;" src="{{ url_for('static', filename='img/logo.png') }}" alt="Google Cloud Skills Boost">
                </a>
            </div>
        </div>
        <div class="nav-center">
            <a href="/rutas" class="nav-tab active">Rutas</a>
            <a href="/" class="nav-tab">Explorar</a>
            <a href="/subscription" class="nav-tab">Suscripciones</a>
        </div>
        <div class="nav-right">
            <a href="/login" class="btn login-btn">Acceder</a>
            <a href="/register" class="btn signup-btn">Unirse</a>
        </div>
    </header>
    <div class="cabecera">

        <p>Gestión  Empresas</p>
    
        </div>

    {% block content %}{% endblock %}
</body>
</html>
