{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}




<div class="container_cuadros_inicio">
  <div class="contenedor_boxes">
    {% if session['rol'] == 'rol_admini' %}
    <div class="box_inicio" style="background-color: rgb(203, 203, 203);">
      <i class="fas fa-eye"></i>
      <p><b>{{contador_visitas}}</b> visitas al sistema </p>
    </div>
    {% endif %}

    </div>
 
  <br><br>
  <div class="descripcion">
 <h5>¿Que es Delta?</h5>
    <p ><strong>Delta </strong> es un sistema experto diseñado para evaluar anteproyectos de investigación académica de manera eficiente y precisa. Utilizando árboles de decisión, Delta proporciona evaluaciones detalladas y recomendaciones para mejorar la calidad de los anteproyectos, facilitando el proceso de aprobación y mejorando los estándares académicos.</p>
  </div>
  


 
  <h5>¿Que puedes hacer en Delta?</h5>
  
   
   
    <div class="container_cuadros_informacion_sistema">
      {% if session['rolusuario'] == 'rol_administrador' or session['rolusuario'] == 'rol_docente' %}

      <div class="box_inicio">
        <p>Proponer temas:</p>
        
          <img src="/static/img/icnono_nuevo_tema_tesis.png" alt="Descripción de la imagen" style="max-width: 100px;">
       
      </div>
      {% endif %}
      {% if session['rolusuario'] == 'rol_administrador' or session['rolusuario'] == 'rol_estudiante' %}

      <div class="box_inicio">
        <p>Elegir un tema:</p>
        
          <img src="/static/img/buscar_informacion_icono_inicio.png" alt="Descripción de la imagen" style="max-width: 100px; ">
     
      </div>
      <div class="box_inicio">
        <p>Evaluar el plan de TIC:</p>
        
          <img src="/static/img/icono_evaluar_inicio.png" alt="Descripción de la imagen" style="max-width: 100px;">
       
      </div>
    
   
  
      <div class="box_inicio" style="max-width: 380px;">
        <p>Apoyo con IA:</p>
        
        <img src="/static/img/icono_gpt_inicio.png" alt="Descripción de la imagen" style="max-width: 100px;">
      



      </div>
      {% endif %}
    </div>
 
  <style>
    .container_beneficioscaracteristicas {
      width: 100%;
      background-color: #393939;
      color: azure;
      margin: 20px auto;
      display: flex; /* Establecer el contenedor como flexbox */
      justify-content: space-between; /* Distribuir elementos con espacio entre ellos */
    }

    .caracteristicas, .beneficios {
      width: 33%; /* Ancho del 50% para cada div */
      padding: 20px;
      background-color: #393939;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box; /* Incluir el padding y border en el ancho total */
    }

    .caracteristicas h5, .beneficios h5 {
      color: #ffffff;
    }

    .caracteristicas ul, .beneficios ul {
      list-style-type: none;
      padding: 0;
    }

    .caracteristicas ul li, .beneficios ul li {
      margin-bottom: 10px;
    }
  </style>

  <div class="container_beneficioscaracteristicas">
    <div class="caracteristicas">
      <h5>Características:</h5>
      <ul>
        <li>Evaluación rápida de anteproyectos</li>
        <li>Recomendaciones personalizadas basadas en criterios académicos</li>
        <li>Análisis detallado de cada sección del anteproyecto</li>
      </ul>
    </div>
    
    <div class="beneficios">
      <h5>Beneficios:</h5>
      <ul>
        <li>Ahorra tiempo y esfuerzo a investigadores y evaluadores</li>
        <li>Mejora la calidad de los anteproyectos de investigación</li>
        <li>Facilita el proceso de aprobación académica</li>
      </ul>
    </div>
    <div class="beneficios">
      <h5>Noticias y Actualizaciones:</h5>
      <ul>
        <li>Ultima actualización: Julio 2024</li>
      </ul>
    </div>
  </div>
  
  </div>
  
  






<!-- Llamando al script.js -->
<script src="{{ url_for('static', filename='js/scripinicio.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilosinicio.css') }}">
{% endblock %}
