<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" type="image/x-icon">
</head>

<body class="bodylog">
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <img src="../images/contrasena.png" alt="User Icon" class="user-icon">
            </div>
            <!-- Formulario con funcionalidad -->
            <form action="/index.js" method="POST">
                <div class="input-group">
                    <label for="correo">Correo electrónico:</label>
                    <input type="email" id="correo" name="correo" placeholder="Email ID" required>
                </div>
                <div class="input-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Password" required>
                </div>
                <div class="options">
                    <!-- Aquí puedes agregar opciones adicionales si es necesario -->
                </div>
                <button type="submit" class="login-btn">LOGIN</button>
            </form>

            <p style="text-align: center;">
                <a href="#" onclick="mostrarMensaje()">Recuperar contraseña</a>
            </p>
        </div>
    </div>

    <!-- Mensaje flotante para recuperación de contraseña -->
    <div id="mensaje-flotante-recuperarcontraseña" style="display:none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc;">
        <p>Se ha enviado un enlace de recuperación a tu correo.</p>
        <button onclick="cerrarMensaje()">Cerrar</button>
    </div>

    <!-- Script JS para manejo del mensaje flotante -->
    <script>
        function mostrarMensaje() {
            var modal = document.getElementById('mensaje-flotante-recuperarcontraseña');
            modal.style.display = 'block';
        }

        function cerrarMensaje() {
            var modal = document.getElementById('mensaje-flotante-recuperarcontraseña');
            modal.style.display = 'none';
        }
    </script>
</body>

</html>
