<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css')}}">
    <link rel="shortcut icon" href="../images/favicon-32x32.png" type="image/x-icon">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-header">
                <img src="../images/contrasena.png" alt="User Icon" class="user-icon">
            </div>
            <form action="/index.js" method="POST">
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email ID" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="options">
                  
                </div>
                <button type="submit" class="login-btn">LOGIN</button>
            </form>
        </div>
    </div>
</html>