{% extends 'base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}


<div class="container_perfil">
    <h5>Perfil de Usuario</h5>
    <div class="profile">
        <div class="icono-usuario">
            <i class="fas fa-user-circle fa-3x"></i>
        </div>
        <div class="user-info">
            <p><strong>Cédula :</strong> {{cedula}}</p>
            <p><strong>Nombres:</strong> {{nombres}}</p>
            <p><strong>Apellidos:</strong> {{apellidos}}</p>
            <p><strong>Correo electrónico:</strong> {{correo}}</p>

            <p><strong>Celular:</strong> {{telefono}}</p>
        </div>
    </div>
</div>

<script>
  
    document.addEventListener('DOMContentLoaded', function() {
        const calificaciones = document.querySelectorAll('.calificacion');

        calificaciones.forEach(calificacion => {
            const value = parseFloat(calificacion.textContent);
            if (value < 60) {
                calificacion.style.color = 'red';
            } else {
                calificacion.style.color = 'green';
            }
        });
    });
</script>


  <!-- Modal de confirmación para eliminar -->
  <style>
    /* Estilos de modal simplificados para demostración */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-contenido {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        text-align: center;
        position: relative;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 0;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-contenido p {
        margin-bottom: 20px;
    }

    .modal-contenido button {
        margin: 0 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .modal-contenido button:hover {
        background-color: #ddd;
    }
</style>






  <div id="modal-confirmacion" class="modal">
    <div class="modal-contenido">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <p>¿Está seguro de que desea eliminar este registro?</p>
        <button onclick="eliminarRegistro()">Eliminar</button>
        <button onclick="cerrarModal()">Cancelar</button>
        <!-- Campo oculto para almacenar el id del tema a eliminar -->
        <input type="hidden" id="id_temaevaluado" value="">
    </div>
</div>

<script>
    function confirmarEliminacion(id_temaevaluado) {
        // Mostrar modal de confirmación
        var modal = document.getElementById('modal-confirmacion');
        modal.style.display = 'block';

        // Guardar el idTema que se va a eliminar en un campo oculto o en una variable global
        document.getElementById('id_temaevaluado').value = id_temaevaluado;
    }

    function eliminarRegistro() {
        // Obtener el idTema a eliminar
        var id_temaevaluado = document.getElementById('id_temaevaluado').value;

        fetch('/eliminar_tema_evaluado', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: 'id_temaevaluado=' + encodeURIComponent(id_temaevaluado),  // Ajusta el nombre aquí
})

        .then(response => response.json())
        .then(data => {
            console.log('Datos eliminados correctamente:', data.message);
          
            cerrarModal(); // Cerrar el modal después de eliminar
        })
        .catch(error => {
            console.error('Error al eliminar datos:', error);
          
        });
    }

    function cerrarModal() {
        // Cerrar el modal de confirmación
        var modal = document.getElementById('modal-confirmacion');
        modal.style.display = 'none';
    }
</script>


{% if session['rolusuario'] == 'rol_docente' %}

<p style="text-align: center; font-size: 16px;"><b>Disponibilidad para ser tutor</b></p>

<div class="contenedor_tabla_basica">
    <table class="tabla_basica">
        <thead>
            <tr>
                <th>Disponibilidad</th>
                <th>Máximo de estudiantes para ser tutor</th>
                <th>Estudiantes tutorados</th>
                <th>Número de estudiantes para ser tutor</th>
            </tr>
        </thead>
        <tbody>
            {% for disponibilidad_tutor in disponibilidad_de_docentes %}
            <tr>
                <td>{{ disponibilidad_tutor[0] }}</td>
                <td>{{ disponibilidad_tutor[1] }}</td>
                <td>{{ disponibilidad_tutor[2] }}</td>
                <td>{{ disponibilidad_tutor[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>




<p style="text-align: center; font-size: 16px;"><b>Temas propuestos en Desarrollo</b></p>

<div class="contenedor_tabla_basica">
    <table class="tabla_basica">
        <thead>
            <tr>
                <th>ID Tema en Desarrollo</th>
                <th>Cedula docente</th>
                <th>Nombres docente</th>
                <th>Tema Propuesto</th>
                <th>nombres estudiante</th>
                <th>Cedula estudiante</th>
              
            </tr>
        </thead>
        <tbody>
            {% for tema in temas_en_desarrollo_docente %}
            <tr>
                <td>{{ tema[0] }}</td>
                <td>{{ tema[1] }}</td>
                <td>{{ tema[2] }} {{ tema[3] }}</td>
      
                <td>{{ tema[4] }}</td>
                <td>{{ tema[5] }} {{ tema[6] }}</td>
                <td>{{ tema[7] }}</td>
           
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>


{% endif %}

<script src="static/js/evaluar_temas.js"></script>
{% endblock %}