<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/recover_password.css') }}">
</head>
<body>
    <div class="container">
        <h2>Recuperación de Contraseña</h2>

        <!-- Mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/recuperar" method="post">
            <!-- Ingreso del correo electrónico -->
            <label for="email">Ingrese su correo electrónico:</label>
            <input type="email" id="email" name="email" value="{{ email }}" required>

            {% if step == 2 %}
            <!-- Ingreso del código de verificación -->
            <label for="codigo">Ingrese el código de verificación:</label>
            <input type="text" id="codigo" name="codigo" required>

            <!-- Ingreso de la nueva contraseña -->
            <label for="password">Ingrese su nueva contraseña:</label>
            <input type="password" id="password" name="password" required>

            <!-- Confirmación de la nueva contraseña -->
            <label for="confirm_password">Confirme su nueva contraseña:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            {% endif %}

            <input type="submit" value="{% if step == 1 %}Enviar Código de Verificación{% else %}Actualizar Contraseña{% endif %}">
        </form>
    </div>
</body>
</html>
