{% extends 'index.html' %}

{% block title %}rutas{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/rutas.css') }}">
    <main>
        <div class="descripcion">
            <h2 style="text-align: center;">¿Que es Delta?</h2>
            <p style="margin-left: 150px; margin-right: 150px;"><strong>Delta </strong> es un sistema experto diseñado para evaluar anteproyectos de investigación académica de manera eficiente y precisa. Utilizando árboles de decisión, Delta proporciona evaluaciones detalladas y recomendaciones para mejorar la calidad de los anteproyectos, facilitando el proceso de aprobación y mejorando los estándares académicos.</p>
            </div>
    <div class="subscription-options">
        <div  style="margin-left: 200px;" class="subscription-option">
            <h5>Características:</h5>
        <ul>
            <li>Evaluación rápida de anteproyectos</li>
            <li>Recomendaciones personalizadas basadas en criterios académicos</li>
            <li>Análisis detallado de cada sección del anteproyecto</li>
        </ul>
        </div>
        
        <div class="subscription-option">
        <h5>Beneficios:</h5>
        <ul>
            <li>Ahorra tiempo y esfuerzo a investigadores y evaluadores</li>
            <li>Mejora la calidad de los anteproyectos de investigación</li>
            <li>Facilita el proceso de aprobación académica</li>
        </ul>
        </div>
        <div class="subscription-option">
        <h5>Noticias y Actualizaciones:</h5>
        <ul>
            <li>Ultima actualización: Julio 2024</li>
        </ul>
    </div>
        </div>
    </div>
</main>
{% endblock %}