{% extends 'index.html' %}

{% block title %}susbcription{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/subscription.css') }}">
    <main>

   
    <div class="subscription-options">
        <div class="subscription-option">
            <h2>Suscripción mensual</h2>
            <div class="price">$10</div>
            <ul class="benefits">
                <li>Accede a más de 700 labs y cursos.</li>
                <li>Descubre rutas de aprendizaje seleccionadas según el puesto de trabajo.</li>
                <li>Filtra los contenidos por puesto, conocimientos y temas.</li>
                <li>Consulta tu progreso a medida que aprendes y mejoras tus conocimientos.</li>
            </ul>
            <button class="buy-button">Compre una suscripción mensual</button>
        </div>

        <div class="subscription-option">
            <h2>Suscripción anual</h2>
            <div class="price">$100</div>
            <div class="chip">Innovators Plus</div>
            <ul class="benefits">
                <li><strong style="color: #0000ff;">Todos los beneficios mensuales, además de los siguientes:</strong></li>
                <li>$500 en créditos </li>
                <li>Un cupón de certificación (hasta $200 en valor)</li>
                <li>$500 en crédito adicional </li>
                <li>Eventos de aprendizaje en vivo organizados por capacitadores técnicos</li>
                <li>Resúmenes técnicos trimestrales organizados por ejecutivos </li>
                <li>Consultas 1:1 con expertos </li>
            </ul>
            <button class="buy-button">Compra Innovators Plus</button>
        </div>
    </div>
</main>
{% endblock %}