body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
main{
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    height: 100%;
}
.cabecera {
    padding: 2px 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.menu-toggle img {
    width: 24px;
    height: 24px;
}

.logo img {
    height: 24px;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.nav-tab {
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.nav-tab.active {
    border-color: #4285f4;
}

.nav-tab:hover {
    border-color: #4285f4;
}


.btn {
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    background-color: #4285f4;
    border-radius: 5px;
    margin-left: 10px;
}

.btn.login-btn {
    background-color: #ffffff;
    color: black;
    transition: border-color 0.3s;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
.login-btn.active {
    border-color: #4285f4;
}
.login-btn:hover {
    border-color: #4285f4;
}

.btn.signup-btn {
    background-color: #a86a07;
}
