nav .fa-check {
    color: rgb(255, 255, 255);
    margin-left: 1px;
    font-weight: bold; 
    text-shadow: 1px 1px 0 rgb(191, 191, 191); 
    transform: scale(1.1); 
}
.h4{
    text-align: center;
    margin: 0 auto;
    color: aliceblue;
}
.button_siguiente{
    width: 100px;

}
.button_agr_equipo{
    width: 20%;
    height: 35px;
    background-color: rgb(63, 15, 255);
    border-radius: 20px;
    color: azure;
}
.button_atras{
    width: 100px;
    height: 35px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    color: azure;
}
.textarea_user, .textarea_IA {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 200px; /* Altura fija para el textarea */
    overflow-y: auto; /* Permite el scroll vertical cuando hay mucho contenido */
    resize: none; /* Deshabilita el redimensionamiento por el usuario */

}
.textarea_organizacion{
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Altura fija para el textarea */
    overflow-y: auto; /* Permite el scroll vertical cuando hay mucho contenido */
    resize: none; /* Deshabilita el redimensionamiento por el usuario */

}
.textarea_objetivos{
    width: 100%;
    height: 350px;
    text-align: left;
}


.textarea_portada{
    text-align: center;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Altura fija para el textarea */
    resize: none; /* Deshabilita el redimensionamiento por el usuario */
    font-size:20px;
    font-weight:bold;

}
/* Estilo para el mensaje flotante */
.floating-message {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Oculto por defecto */
    z-index: 1000;
}
.navvar{
    margin-top: 50px;
    background-color: black;
    color: azure;
}

.textarea1{
    width: 600px; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Altura fija para el textarea */
    overflow-y: auto; /* Permite el scroll vertical cuando hay mucho contenido */
    resize: none; /* Deshabilita el redimensionamiento por el usuario */
}

/* Estilo para el fondo del modal */
/* Estilos del modal */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 10000;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    align-items: center;
}

.modal h3 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.modal label {
    font-weight: bold;
    color: #555;
}

.modal input[type="text"],
.modal input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

.modal button:hover {
    background-color: #0056b3;
}

.modal button:last-child {
    background-color: #6c757d;
}

.modal button:last-child:hover {
    background-color: #5a6268;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.comision {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}