
    .container-global {
        display: flex;
        width: 90%;
       
    }

    .aside {
        width: 20%;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        order: 2; /* Orden en fila: aside a la derecha */
    }

    .aside a {
        display: block;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #21ee9f;
        color: #0a0a0a;
        text-decoration: none;
        text-align: center;
    }

    .aside a:hover {
        background-color: #00b368;
    }

    .video-container {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-grow: 1; /* El video-container ocupa todo el espacio restante */
        margin-left: 20px; /* Espacio entre aside y video-container */
    }

    .video-container video {
        border: 2px solid #ccc;
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        display: none;
    }

    .video-container img {
        max-width: 100%;
        height: auto;
        display: none;
        border-radius: 10px;
        border: 2px solid #ccc;
    }

    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
        .container-global {
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
            align-items: stretch; /* Estirar elementos a lo largo del contenedor */
        }

        .aside {
            width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
            order: 1; /* Cambia el orden: aside arriba */
            margin-bottom: 20px; /* Espacio entre aside y video-container en columna */
        }

        .video-container {
            width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
            order: 2; /* Cambia el orden: video abajo */
        }
    }
