
/*________________________________*/
#contenedor_tabla_metodos {
    display: none; /* Ocultar el contenedor por defecto */
}



/*___________________________MOSTRAR TABLA TIPOS DE INVESTIGACION ---------------------------------*/
/* Estilo general para la tabla */
#contenedor_tabla {
    display: none; /* Inicialmente oculto */
    align-items: center;
}

#tabla_tipos_de_investigacion {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
}

/* Estilo para las cabeceras de la tabla */
#tabla_tipos_de_investigacion th {
    background-color: #150d8a;
    color: white;
    padding: 5px;
    font-size: 14px;
}

/* Estilo para las celdas de la tabla */
#tabla_tipos_de_investigacion td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 14px;
}

/* Estilo para las filas impares de la tabla */
#tabla_tipos_de_investigacion tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para las filas al pasar el mouse */
#tabla_tipos_de_investigacion tr:hover {
    background-color: #ddd;
}

/* Estilo para centrar el contenido de las celdas */
#tabla_tipos_de_investigacion th, #tabla_tipos_de_investigacion td {
    text-align: center;
}
/* Estilo para los botones */
.boton_mostrar_tabla {
background-color: #4caf81;
color: white;
padding: 5px;
margin: 10px 0;
border-radius: 10px;
border: none;
cursor: pointer;
display: inline-block;
}

.boton_mostrar_tabla:hover {
background-color: #7eb481;
}




/*___________________________________________________________________________________*/
/*______________________________DIVs_____mostrar__lista_referencias_____________________________________________________*/
.mostrar__lista_referencias {
  border: 2px solid rgb(236, 236, 240);
  padding: 5px;
  /* Agrega aquí los estilos adicionales que desees */
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.contenedor-boton {
    text-align: center;
    /* Centrar contenido horizontalmente */
    margin-top: 50px;
    /* Margen superior para separar el botón del resto del contenido */
}

.boton_FINEVALUACION {
    background-color: #4CAF50;
    /* Color de fondo */
    border: none;
    /* Sin borde */
    color: white;
    /* Color del texto */
    padding: 10px;
    /* Espaciado interno */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin decoración de texto */
    display: inline-block;
    /* Mostrar como un bloque */
    font-size: 16px;
    /* Tamaño de la fuente */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s;
    /* Transición suave para el color de fondo */
}

.boton_FINEVALUACION:hover {
    background-color: #45a049;
    /* Cambio de color de fondo al pasar el mouse */
}

.icono-enviar {
    margin-right: 5px;
    /* Espaciado a la derecha del icono */
}

/*_______________________________________*/
/*_________________________________________________________________________________________*/
/*_____________________________________TESXTAREAS_______________________________________________*/

 /* Estilos únicos para el textarea */
 #textarea_contenedor textarea {
  border: 2px solid rgb(123, 123, 151); /* Borde azul */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  font-family: 'Century Gothic', Arial, sans-serif; /* Familia de fuente */
  font-size: 14px; /* Tamaño de fuente */
  width: 100%; /* Ancho completo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease-in-out; /* Transición suave para cambios en el borde */
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden; /* Ocultar la barra de desplazamiento */
  resize: none; /* Desactivar el redimensionamiento manual */
  min-height: 100px; /* Altura mínima del textarea */
}

/* Cambio de borde al enfocar el textarea */
#textarea_contenedor textarea:focus {
  border-color: darkblue; /* Borde azul oscuro al enfocar */
  outline: none; /* Sin borde de enfoque predeterminado */
}
/*___________________________________*/
/* Estilos únicos para el textarea con clase textarea_objesp */
.textarea_objesp {
  border: 2px solid rgb(123, 123, 151); /* Borde azul */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  font-family: 'Century Gothic', Arial, sans-serif; /* Familia de fuente */
  font-size: 14px; /* Tamaño de fuente */
  width: 100%; /* Ancho completo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease-in-out; /* Transición suave para cambios en el borde */
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden; /* Ocultar la barra de desplazamiento */
  resize: none; /* Desactivar el redimensionamiento manual */
  min-height: 60px; /* Altura mínima del textarea */
}

/* Cambio de borde al enfocar el textarea */
.textarea_objesp:focus {
  border-color: darkblue; /* Borde azul oscuro al enfocar */
  outline: none; /* Sin borde de enfoque predeterminado */
}

/*______________________________________*/

/* Estilo básico */
.textarea_referencias {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: black;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow: auto;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Estilo cuando está en foco (aunque readonly, se puede estilizar en foco) */
.textarea_referencias:focus {
  background-color: #e9e9e9;
  border-color: #aaa;
}

/* Estilo al hacer hover */
.textarea_referencias:hover {
  border-color: #bbb;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo para la apariencia readonly */
.textarea_referencias[readonly] {
  background-color: #f4f4f4;
  color: black;
  cursor: not-allowed;
}

  /*_______________________________________*/
  /* Estilos únicos para el textarea con clase textarea_IA */
/* Estilo para el textarea con clase textarea_IA */
.textarea_IA {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: black;
  background-color: #f9f9f9; /* Fondo claro */
  border: 2px solid #4CAF50; /* Borde verde */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow: auto;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: not-allowed; /* Cambio de cursor */
}

/* Cambio de borde al enfocar el textarea */
.textarea_IA:focus {
  background-color: #f9f9f9;
  border-color: #ddd;
}

/* Estilo para la apariencia readonly */
.textarea_IA[readonly] {
  background-color: #f4f4f4;
  cursor: not-allowed;
}

/*_____________________________________________________*/
/* Estilos únicos para el textarea con clase textarea_user */

.textarea1 {
  border: 2px solid rgb(123, 123, 151); /* Borde azul */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  font-family: 'Century Gothic', Arial, sans-serif; /* Familia de fuente */
  font-size: 14px; /* Tamaño de fuente */
  width: 60%; /* Ancho completo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease-in-out; /* Transición suave para cambios en el borde */
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden; /* Ocultar la barra de desplazamiento */
  resize: none; /* Desactivar el redimensionamiento manual */
  min-height: 50px; /* Altura mínima del textarea */
}
.textarea_user {
  border: 2px solid rgb(123, 123, 151); /* Borde azul */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  font-family: 'Century Gothic', Arial, sans-serif; /* Familia de fuente */
  font-size: 14px; /* Tamaño de fuente */
  width: 100%; /* Ancho completo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease-in-out; /* Transición suave para cambios en el borde */
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden; /* Ocultar la barra de desplazamiento */
  resize: none; /* Desactivar el redimensionamiento manual */
  min-height: 100px; /* Altura mínima del textarea */
}

/* Cambio de borde al enfocar el textarea */
.textarea_user:focus {
  border-color: darkblue; /* Borde azul oscuro al enfocar */
  outline: none; /* Sin borde de enfoque predeterminado */
}

/*__________________________________________________________________________________________________________________________________*/
/*_____________________________________________________*/
.generar_texto_con_IA {
    background-color: #6fce96; /* Green */
    border: none;
    color: black;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
  
    cursor: pointer;
    border-radius: 5px;
}


/*_________________________________________________________*/
/* Estilos para el mensaje flotante */
#mensaje-flotante_GENERANDORESPUESTA_planteamientoproblema,
#mensaje-flotante_GENERANDORESPUESTA_justificacion,
#mensaje-flotante_GENERANDORESPUESTA_objetivosypreguntas,
#mensaje-flotante_GENERANDORESPUESTA_antecedentes,
#mensaje-flotante_GENERANDORESPUESTA_marcoteorico,
#mensaje-flotante_GENERANDORESPUESTA_enfoquemetodologico,
#mensaje-flotante_GENERANDORESPUESTA_tipoinvestigacion,
#mensaje-flotante_GENERANDORESPUESTA_hipotesisOidea

 {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    z-index: 1000;
    white-space: pre-wrap;
    text-align: justify; 
    font-family: 14px;
}



/*________________________________________________________________*/
    .contenedor_imagenesevaluar {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
       margin: 5px;
        height: auto; /* Altura del contenedor */
    }

    .centrado {
        text-align: center; /* Centrar el texto horizontalmente */
    }

    

/*_________________________________________________________________________________*/
#tutor {
 
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#tutor option {

  font-size: 15px;
}

#tutor:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px rgba(91, 157, 217, 0.5);
}
/*___________________________________________BOTONES________________________________________________________________*/



.finevaluacion {
    font-size: 24px;
    color: #333;
    padding: 20px;
    
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.icono-feliz {
    margin-left: 5px;
    color: green;
}





/*___________________________________________________________________________________________________________*/
/* Estilos únicos para el botón */
.agregar_antecedente {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.agregar_antecedente:hover {
  background-color: #45a049;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.agregar_antecedente:active {
  background-color: #3e8e41;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/*_____________________________________*/
.button_guardar_cita {
  background-color: #38833a; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 5px 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero al pasar */
  font-size: 15px; /* Tamaño de fuente */
}

.button_guardar_cita:hover {
  background-color: #235026; /* Cambio de color al pasar el mouse */
}
/*________________*/
/*_____________________________________________*/
.boton_copiar_texto {
  border: none;
 
  color: black;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*__________________________________________________*/
.boton-base {
  color: #fdfafa;
  /* Color del texto */
  background-color: #007bff;
  border: none;
  /* Sin borde */
  border-radius: 50px;
  /* Bordes redondeados para hacer el botón circular */
  padding: 6px 10px;
  /* Espaciado interno */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Transición suave del color de fondo */
  display: inline-block;
  /* Alinear en línea */
  margin-right: 10px;
  /* Espacio entre los botones */
  font-size: 14px;

}

.boton-base:hover {
  background-color: #4098f5;
  /* Cambia el color de fondo al pasar el mouse por encima */
}

.boton-base i {
  margin-left: 5px;
  /* Espacio a la izquierda del icono */
}

/*_______________________________________________*/
/*_____________________________________________*/

.button_cancelar,
.button_guardarhastaqui {
  float: right;
  /* Alinear a la derecha */
}
.botoncargarimagen{
  color: #fff;
  /* Color del texto */
  background-color: #007bff;
  border: none;
  /* Sin borde */
  border-radius: 50px;
  /* Bordes redondeados para hacer el botón circular */
  padding: 6px 10px;
  /* Espaciado interno */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Transición suave del color de fondo */
  display: inline-block;
  /* Alinear en línea */
  margin-right: 10px;
  /* Espacio entre los botones */
  font-size: 14px;
}
/* Resto de estilos para los botones */
.button_siguiente,
.button_anterior,
.button_cancelar,
.button_guardarhastaqui,
.button_añosPlant {
  color: #fff;
  /* Color del texto */
  border: none;
  /* Sin borde */
  border-radius: 50px;
  /* Bordes redondeados para hacer el botón circular */
  padding: 6px 10px;
  /* Espaciado interno */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Transición suave del color de fondo */
  display: inline-block;
  /* Alinear en línea */
  margin-right: 10px;
  /* Espacio entre los botones */
  font-size: 14px;
}

.button_siguiente {
  background-color: rgb(84, 98, 228);
  /* Verde */
}

.button_anterior {
  background-color: rgb(84, 98, 228);
  /* Amarillo */
}

.button_cancelar {
  background-color: #ce5260;
  color: black;
  /* Rojo */
}

.button_guardarhastaqui {
  background-color: #71daa5;
  color: black;
  /* Azul */
}

.button_añosPlant {
  background-color: #cf8540;
}

/* Cambiar color al pasar el cursor sobre los botones */
.button_siguiente:hover {
  background-color: rgb(172, 179, 240);
  color: black;
  /* Verde más oscuro */
}

.button_anterior:hover {
  background-color: rgb(172, 179, 240);
  color: black;
  /* Amarillo más oscuro */
}

.button_cancelar:hover {
  background-color: #c82333;
  /* Rojo más oscuro */
}

.button_guardarhastaqui:hover {
  background-color: #25b46d;
  /* Azul más oscuro */
}

.button_añosPlant:hover {
  background-color: #a06228;
}

@media screen and (max-width: 600px) {

  .button_siguiente,
  .button_anterior,
  .button_cancelar,
  .button_guardarhastaqui,
  .button_añosPlant {
    display: block;
    /* Colocar en bloque */
    width: 100%;
    /* Ancho completo */
    margin-right: 0;
    /* Eliminar margen derecho */
    margin-bottom: 10px;
    /* Espacio inferior */
    float: none;
    /* Eliminar alineación a la derecha */
  }
}

/*________________________________________*/

#referenciaLabel {
 
  /* Borde oscuro */
  background-color: #faf7f7;
  /* Fondo blanco */
  padding: 10px;
  /* Espacio interno */
  width: 100%;
  /* Mostrar como bloque para ocupar todo el ancho disponible */
height: 100px;
}


/*________________________________REFERENCIAS_____________________________________________________*/

/*_____campo para mostrar todos los campos para citas_____________*/
.itemsreferencias{
  margin: 10px;
  border: 2px solid #5f5f7a;
  /* Borde oscuro de 2px de grosor y color azul oscuro */
  padding: 40px;
  background-color: white;

}
#resultados_citas {
  width: 100%;
 
  height: 100px;
  /* Altura fija de 200px */
  background-color: #ffffff;
  /* Color de fondo blanco */
  border: 1px solid #ccc;
  /* Borde de 1px sólido con color gris */
  border-radius: 5px;
  /* Bordes redondeados de 5px */
  padding: 10px;
  /* Espaciado interno de 10px */
  margin-bottom: 20px;
  /* Espacio inferior de 20px */
  resize: vertical;
  /* Permitir el redimensionamiento vertical */
  font-size: 14px;
  /* Tamaño de fuente de 14px */
  line-height: 1.6;
  /* Altura de línea de 1.6 para mejorar la legibilidad */
  box-sizing: border-box;
  /* Incluir el padding y el borde en el cálculo del tamaño */
}


/*______________________________________________________________________________________________*/


/*________________________________________________________________________*/
.container_principal_evaluartemas {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%; /* Ocupa el 100% de la altura del main */
  margin-bottom: 20px;
  padding-top: 20px;
}
.aside_evaluartemas {
  align-items: center;
  width: 20%;
  height: 500px;
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 80px; /* Ajusta según la altura del header */
  bottom: 0;
  overflow-y: auto; /* Añade scroll si el contenido del aside es mayor que la altura de la pantalla */
  border-right: 2px solid #ccc; /* Borde derecho para separar visualmente */
  
}

.container_formevaluar {
  margin-left: 25%;
  width: 70%;

  background-color: white;
  box-sizing: border-box;
  overflow-y: auto; /* Permite el desplazamiento vertical del contenido principal */
  height: 100%; /* Ocupa el 100% de la altura del main */
}
.content-section {
  height: 100vh; /* Asegura que cada sección ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container_principal_evaluartemas {
      flex-direction: column;
  }
  .aside_evaluartemas,
  .container_formevaluar {
      width: 100%;
   
  }
  .aside_evaluartemas {
      border-right: none;
      border-bottom: 2px solid #ccc;
      position: relative;
      top: 0;
      bottom: auto;
  }
  .container_formevaluar {
      margin-left: 0;
  }
}
/*_____________________________________________________________________________________________________________*/
#FormEvaluar {
  width: auto; /* Ancho automático según el contenido */
  max-width: 100%; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
 
  font-size: 14px;
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Apilar elementos verticalmente */
  padding: 30px;
  overflow-y: auto; /* Barra de desplazamiento vertical automática */
  overflow-x: hidden; /* Ocultar la barra de desplazamiento horizontal si no es necesaria */
 
  background-color: #fff; /* Color de fondo opcional */
}

#FormEvaluar > div {
  width: 100%; /* Ancho completo dentro del formulario */
  display: inline-block; /* Alinear los elementos horizontalmente */
  vertical-align: top; /* Alinear los elementos en la parte superior */
}

@media screen and (max-width: 1000px) {
  #FormEvaluar {
    width: 100%; /* Reducir el ancho del formulario al 95% si la pantalla es más pequeña que 1000px */
    max-width: none; /* Eliminar el ancho máximo si la pantalla es más pequeña que 1000px */
  }
}







/*________________________________________________*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .icono:hover+.tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*___________________________________*/

/* Estilos para el contenedor de objetivos específicos */
#preguntas_investigacion_container {
    width: 100%;
    /* Hace que los inputs ocupen el 100% del ancho */
    /* Agrega aquí los estilos que desees */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    /* Para centrar horizontalmente */
    margin-left: auto;
    margin-right: auto;

}

/* Estilos para los inputs dentro del contenedor */
#preguntas_investigacion_container input[type="text"] {
    width: 100%;
    /* Hace que los inputs ocupen el 100% del ancho */
    box-sizing: border-box;
    /* Incluye el ancho del borde y el relleno en el ancho total */
    /* Agrega otros estilos según sea necesario */
    padding: 5px;
    margin-bottom: 5px;
}

/*____________________________________*/

/* Estilos para el contenedor de objetivos específicos */
#objetivos_especificos_container {
    width: 100%;
    /* Hace que los inputs ocupen el 100% del ancho */
    /* Agrega aquí los estilos que desees */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    /* Para centrar horizontalmente */
    margin-left: auto;
    margin-right: auto;

}

/* Estilos para los inputs dentro del contenedor */
#objetivos_especificos_container input[type="text"] {
    width: 100%;
    /* Hace que los inputs ocupen el 100% del ancho */
    box-sizing: border-box;
    /* Incluye el ancho del borde y el relleno en el ancho total */
    /* Agrega otros estilos según sea necesario */
    padding: 5px;
    margin-bottom: 5px;
}
