
    /* ------------Estilos para el formulario con clase AGREGAREMPESA */
.agregarempresa {
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los labels dentro del formulario */
.agregarempresa label {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.agregarempresa label [input="labelgenerar"] {

  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilos para los inputs dentro del formulario */
.agregarempresa input[type="text"],
.agregarempresa input[type="password"] {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.agregarempresa input[type="usos"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
}
.agregarempresa button[type="usos"] {
  width: 20%;
  padding: 10px;
  background-color: cadetblue;
  margin-bottom: 15px;
  border: 1px solid #00a903;
  border-radius: 4px;
  font-size: 16px;
  
}

.agregarempresa input[type="usos1"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilos para el botón dentro del formulario */
.agregarempresa input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.agregarempresa input[type="submit"]:hover {
  background-color: #45a049;
}

.agregarempresa input[type="submit"]:focus {
  outline: none;
}

.agregarempresa input[type="submit"]:active {
  background-color: #3e8e41;
}


    /* ------------Estilos para el formulario con clase formrecuperarcontraseña */
.formrecuperarcontraseña {
  max-width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los labels dentro del formulario */
.formrecuperarcontraseña label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilos para los inputs dentro del formulario */
.formrecuperarcontraseña input[type="text"],
.formrecuperarcontraseña input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilos para el botón dentro del formulario */
.formrecuperarcontraseña input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.formrecuperarcontraseña input[type="submit"]:hover {
  background-color: #45a049;
}

.formrecuperarcontraseña input[type="submit"]:focus {
  outline: none;
}

.formrecuperarcontraseña input[type="submit"]:active {
  background-color: #3e8e41;
}


/*___________________________________________*/
#navconfiguracion {
  background-color: #ffffff; /* Color de fondo */
  padding: 5px; /* Espacio interno */
  text-align: center; /* Centrar el contenido */
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
 
}

#navconfiguracion ul {
  list-style-type: none; /* Eliminar viñetas de la lista */
  margin: 0;
  padding: 0;
}

#navconfiguracion ul li {
  display: inline-block; /* Mostrar elementos de la lista en línea y permitir espacio entre ellos */
  margin-right: 15px; /* Agregar espacio entre los elementos */
}

#navconfiguracion ul li:last-child {
  margin-right: 0; /* Eliminar margen derecho del último elemento */
}

#navconfiguracion ul li button {
  background-color: transparent; /* Color de fondo transparente */
  border: none; /* Sin borde */
  color: black; /* Color del texto */
  padding: 5px 10px; /* Espaciado interno */
  text-decoration: none; /* Sin subrayado */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  font-size: 14px; /* Tamaño de fuente */
}

#navconfiguracion ul li button:hover {
  background-color: #b6b2b2; /* Color de fondo al pasar el mouse sobre el botón */
  border-radius: 5px;
  color: black;
}

  /*_____________________________________________*/
  .contenido-seccion {
    display: none;
    background-color: #f7f8fa;
    padding: 30px;
  }
  
  .contenido-seccion.active {
    display: block;
    background-color: #f7f8fa;
    padding: 30px;
  }
  
/*___________________________________________________*/

/* Estilos para el formulario */
.formagregarusuarios {
  display: flex; /* Utilizar flexbox */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 0 auto;
}

/* Estilos para las columnas */
.formagregarusuarios .columna {
  flex: 1; /* Ocupar el espacio disponible */
  margin: 0 10px; /* Margen entre columnas */
}

/* Estilos para las etiquetas */
.formagregarusuarios label {
  display: flex; /* Mostrar en bloque */
  margin-bottom: 5px; /* Espacio inferior */
  font-weight: bold; /* Negrita */
}
.formagregarusuarios label input[type="password"] {
  flex: 1; /* El input se expandirá para ocupar el espacio restante */
}
/* Estilos para los inputs y selects */
.formagregarusuarios input[type="text"],
.formagregarusuarios input[type="email"],
.formagregarusuarios input[type="password"],
.formagregarusuarios select {
  width: 90%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Espacio inferior */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
}

/* Estilos para el botón de enviar */
.formagregarusuarios .boton_registrar_usuario {
  width: 100%; /* Ancho completo */
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor a mano */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilo cuando se pasa el cursor sobre el botón */
.formagregarusuarios .boton_registrar_usuario:hover {
  background-color: #45a049; /* Cambiar el color de fondo al verde más oscuro */
}

/*__________________________________________*/

