@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins','sans-serif';
    min-height: 100vh;
    box-sizing: border-box;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: rgb(48, 229, 241);
}

.header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}

@media(max-width:950px) {
    .header label {
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: flex;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }
    #toggle:checked ~ .navigation {
    display: block;

}

}
.hero {
    min-height: 100vh;
    background-image: url("../images/PortadaPanel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* General Styles */
.bodylog {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgba(139, 49, 190, 0.9), rgba(8, 38, 77, 0.9), rgba(12, 209, 209, 0.9));
  }
  
  /* Login Box */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    width: 300px;
    text-align: center;
  }
  
  /* Header with Icon */
  .login-header {
    margin-bottom: 20px;
  }
  
  .user-icon {
    width: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
  }
  
  /* Input Styles */
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0.5);
    color: white;
    outline: none;
    font-size: 14px;
  }
  
  /* Options */
  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .options a {
    color: rgba(10, 5, 5, 0.7);
    font-size: 12px;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
  }
  
  /* Button */
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #d136aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #13b6d3;
  }
  